<div class="grid-container-widescreen">
    <div class="col-xs-12">
        <div>
            <h1>
                Multiple Modals on this Page
            </h1>

            <app-modal 
                modalName="modal1" 
                triggerButtonText="Open Modal 1"
                modalHeader="Test Modal 1">
                
                    <p>Hello</p>
            </app-modal>

            <br><br>


            <app-modal 
                modalName="modal2" 
                triggerButtonText="Open Modal 2"
                modalHeader="Test Modal 2">
                
                    <p>Hello again</p>
            </app-modal>
        </div>
    </div>
</div>


